<div class="container" class="col-4">
    <input type="text" class="form-control" [(ngModel)]="searchInput">
    <button class="btn btn-error" (click)="searchData()" > dd </button>
    </div>
    
    <div class="container" class="col-4">
        <input type="number" class="form-control" [(ngModel)]="idInput">
        <button class="btn btn-error"  > dd </button>
        <button class="btn btn-error"  > dd </button>
    
        <input type="text" class="form-control" [(ngModel)]="idInput">
        <button class="btn btn-error"  > dd </button>
        </div>
    <app-users [inputSearch]="searchWord"  > </app-users>
    
